.toplevel_page_wp-power-stats > div.wp-menu-image {
	background-image: url('../images/icon.png');
	background-position: 7px -27px;
    background-repeat: no-repeat;
}

.toplevel_page_wp-power-stats:hover > div.wp-menu-image, .toplevel_page_wp-power-stats .wp-menu-open > div.wp-menu-image {
	background-position: 7px 5px;
}

.wp-log-page-icon {
	background-image: url('../images/icon32.png');
}